
@{
    ViewBag.Title = "Swagger";
}


@section head
{
    <link href="~/Content/swagger.css" rel="stylesheet" media="screen" />
    <link href="~/Content/swagger.css" rel="stylesheet" media="print" />
}


<section class="swagger-section container">
    <div>
        <div class="row">
            <div class="col-md-12 ">
                <div class="pull-right">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <p style="margin: auto; text-align: center;">Enter Your Credentials:</p>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="password" placeholder="Password">
                        </div>
                        <button class="btn btn-default" style="margin: 0; vertical-align: top; text-align: center">Set</button>
                    </form>
                    </div>
            </div>
        </div>
    
    </div>
            <div class="swagger-ui-wrap" style="display: none">
                <form id='api_selector'>
                    <input placeholder="http://example.com/api" id="input_baseUrl" name="baseUrl" type="text" />
                    <div class='input'><input placeholder="api_key" id="input_apiKey" name="apiKey" type="text" /></div>
                    <button class="btn btn-primary" style="margin-top: 0; vertical-align: top;">SET</button>
                </form>
            </div>
            <div id="message-bar" class="swagger-ui-wrap"></div>
            <div id="swagger-ui-container" class="swagger-ui-wrap"></div>
</section>
@section scripts
{
    <script src="~/Scripts/swagger/shred.bundle.js"></script>
    <script src="~/Scripts/swagger/jquery.slideto.min.js"></script>
    <script src="~/Scripts/swagger/jquery.wiggle.min.js"></script>
    <script src="~/Scripts/swagger/jquery.ba-bbq.min.js"></script>
    <script src="~/Scripts/swagger/handlebars-1.0.0.js"></script>
    <script src="~/Scripts/swagger/underscore-min.js"></script>
    <script src="~/Scripts/swagger/backbone-min.js"></script>
    <script src="~/Scripts/swagger/swagger.js"></script>
    <script src="~/Scripts/swagger/swagger-ui.js"></script>
    <script src="~/Scripts/swagger/highlight.7.3.pack.js"></script> 
    <script type="text/javascript">
        $(function() {
            window.swaggerUi = new SwaggerUi({
                url: "https://qaendpoint.scribesoft.com/swagger/api-docs",
                dom_id: "swagger-ui-container",
                supportedSubmitMethods: ['get', 'post', 'put', 'delete'],
                onComplete: function(swaggerApi, swaggerUi) {
                    log("Loaded SwaggerUI");

                    if (typeof initOAuth == "function") {
                        /*
                    initOAuth({
                      clientId: "your-client-id",
                      realm: "your-realms",
                      appName: "your-app-name"
                    });
                    */
                    }
                    $('pre code').each(function(i, e) {
                        hljs.highlightBlock(e);
                    });
                },
                onFailure: function(data) {
                    log("Unable to Load SwaggerUI");
                },
                docExpansion: "none",
                sorter: "alpha"
            });

            $('#input_apiKey').change(function() {
                var key = $('#input_apiKey')[0].value;
                log("key: " + key);
                if (key && key.trim() != "") {
                    log("added key " + key);
                    window.authorizations.add("key", new ApiKeyAuthorization("api_key", key, "query"));
                }
            });

            window.swaggerUi.load();
        });
    </script>
}


