
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form enctype="multipart/form-data" action="api/images" method="POST" novalidate="novalidate">
        <input id="fileInput" name="fileInput" type="file" multiple="multiple" />
        <input id="button1" type="submit" value="Upload" />
    </form>
    <img src="http://localhost/NortwindApi/api/employees/1/images"  width="20" height="20"/>
</body>
</html>
